[Unit]
Description=Bepusdt Service
Documentation=https://github.com/v03413/bepusdt
After=network.target nss-lookup.target

[Service]
Type = simple
ExecStart=/usr/local/bin/bepusdt -conf /usr/local/bepusdt/conf.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
