[Unit]
Description=Bepusdt Service
Documentation=https://github.com/v03413/bepusdt
After=network.target nss-lookup.target

[Service]
Type = simple
EnvironmentFile=/usr/local/bepusdt/Environment.conf
ExecStart=/usr/local/bepusdt/bepusdt
Restart=on-failure

[Install]
WantedBy=multi-user.target
